PickupItem {
    opacity: 1;
    position: absolute;

    background-color: rgba(0, 0, 255, 0.7);
    backdrop-filter: blur(15px) saturate(100%);
    color: black;

    border-radius: 15px;
    border: 5px rgba(19, 19, 203, 0.7);

    width: 50%;
    height: 25%;

    bottom: 15%;
    left: 24%;

    transition: all 5s ease-in-out;

    flex-direction: column;

    .itemname {
        font-size: 50px;
        top: 15px;
        left: 15px;
    }

    .itemdesc {
        font-size: 40px;
        top: 45px;
        left: 17px;
    }

    .itemicon {
        bottom: 45px;
        left: 400%;
        height: 100%;
        width: 100%;

        background-size: contain;
        background-repeat: no-repeat;
    }

    &.hidden {
        opacity: 0;
    }
}